
<figure class="highlight">
    <pre class="centered">
        <code>
-------------------------------------------------------------------------------
_,-':IWWWW\___           _____                       .    .     . . . .__  .   
 .:IIIIWWWWWWW\__   _,--'.;IWW\_                           _,-----_ ,-'  `--.  
 .:;IIIIIWWWWWWWW\_/    .;IIWWIW\                 .   .  ,'  ,, _  \     __--  
  :;IIIWWWWWWWWWW;:   .:;IIIIWWWW\                      /,,__--'  ,--_ _'  \.  
   .:;IIWWWWWWWWWW;.   :;IIIIIWWWW\__             .   ._--' _-   /   )`__  `-. 
    ::IIIWWWWWWWWW:.   .;IIIWWWWWWI:M\_       .     _-'  /    /||@   /@@`__    
     ::;;;IIIIW;:.        .:;IIMMMWI:WW\           /  /    /||@@@@@ee@@@@@`__  
       .:;;III:             ..:::II::WWW\       .,' /   /||@@@@@@@@@@@@@@@@@\_ 
                             .........===~~~~~~~/ /  /||~~~~~~~~~~~~~~~~~~~~~\_
                 ....... __  _ .--- '     -    /  /||-  - -_ --__----__-- _- _\
  ...     .........._ - '                      |||    -_  -  -- __-- _ -- -_   
..............@@...'_                              _    -   __ - __  -_  --  - 
.............<X|\...__   _     _                       _ -   - __- _-_ --   -_ 
............ /||........--- -____-- ____    _            -      -- __- -    _  
.......      ...........................~~ -----_--_--.- __- ___ _.__ _._ ____-
..... .............  ..........................................................
you've washed ashore..
        </code>
    </pre>
</figure>
